NEXT_PUBLIC_SUPABASE_URL=https://anitddpjpuzeupegyzis.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_z42lhzCY2i8Rk3qTTHHi_g_yk0uK5Zf
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_z42lhzCY2i8Rk3qTTHHi_g_yk0uK5Zf
